p{ color: rgb(15, 122, 51);
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    
    
}


o{
    color: rgb(2, 90, 32);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}


f{
    font-family: Georgia, 'Times New Roman', Times, serif;

}